<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rsj.numerofacts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NumbersCategoryActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".CategoryDateActivity"
            android:configChanges="orientation|screenSize"
            android:label="Date Fact" />
        <activity
            android:name=".CategoryMathActivity"
            android:configChanges="orientation|screenSize"
            android:label="Math Fact" />
        <activity
            android:name=".CategoryTriviaActivity"
            android:configChanges="orientation|screenSize"
            android:label="Trivia Fact" />
        <activity
            android:name=".CategoryYearActivity"
            android:configChanges="orientation|screenSize"
            android:label="Year Fact" />

        <!-- Retrofit activity -->
        <activity android:name=".retrofact.RetroMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".retrofact.RandomFactCategory" />
        <activity android:name=".retrofact.FactPage" />
        <activity android:name=".retrofact.UserInputFact"></activity>
    </application>

</manifest>